* { 
    margin-left: 0; 
    padding-left: 0;
    margin-right: 0; 
    padding-right: 0;
}

body {
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(75, 75, 75);
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
    position: relative;
    min-height: 98.4vh;
}

h1 {
    margin-left: 40px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgb(48, 48, 48);
    color: white;
    text-align: center;
}

.contact {
    padding-bottom: 140px;
}
  
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 140px;
    padding-bottom: 0px;
}

.footerbar {
    display: inline-block;
    margin-top: -10px;
}

ul.footerbar li {
    margin: 12px;
    margin-left: 0px;
    list-style-type: none;
}

ul.footerbar li a {
    text-decoration: none;
    padding: 10px;
    color: rgb(255, 255, 255);
}
  
ul.footerbar {
    color: rgb(211, 173, 255);
    align-items: center;
    display: flex;        
}

ul.footerbar li a:hover {
    background-color: rgb(179, 179, 179);
    color: rgb(50, 38, 70);
}
  
ul.footerbar {
    height: 60px;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

#copyright {
    margin-top: -10px;
}

#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 80%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: .825rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
  margin-left: 40px;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(56, 56, 56, 0.9);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
  margin-left: 40px;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: rgb(49, 49, 49);
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}
#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
}
#fs-frm fieldset.locale input[name="city"] {
  width: 52%;
}
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%;
}
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}

@media screen and (max-width: 768px){
    ul.navbar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    ul.navbar li a {
        display: block;
        color: rgb(255, 255, 255);
        text-align: center;
        text-decoration: none;
        padding: 14px 16px;
    }
      
    ul.navbar li a:hover {
        background-color: rgb(179, 179, 179);
        color: rgb(50, 38, 70);
    }
    
    #active {
        background-color: #e4c2f8;
    }

    footer {
        margin-bottom: -10px;
    }

    h4, h1 {
      text-align: center;
    }
}

@media screen and (min-width: 769px){
    ul.navbar li {
        margin: 12px;
        margin-left: 0px;
        list-style-type: none;
    }
    
    ul.navbar li a {
        text-decoration: none;
        padding: 10px;
        color: rgb(255, 255, 255);
    }
      
    ul.navbar {
        color: rgb(211, 173, 255);
        align-items: center;
        display: flex;        
    }

    ul.navbar li a:hover {
        background-color: rgb(179, 179, 179);
        color: rgb(50, 38, 70);
    }
      
    ul.navbar {
        height: 60px;
        flex-direction: row;
        justify-content: flex-end;
    }

    #active {
        background-color: #e4c2f8;
    }

    h4 {
      margin-left:40px;
    }
}
